<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
<h1>Leaderboard</h1>
<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Percentage</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry, iterStat : ${leaderboardEntries}">
        <td th:text="${iterStat.index + 1}"></td>
        <td th:text="${entry.playerName}"></td>
        <td th:text="${entry.percentage}"></td>
        <td th:text="${entry.timestamp}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
