<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Login page</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body class="d-flex flex-column min-vh-100">
<!--Main container-->
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img alt="logo" src="/Images/quiz.png" width="80"/>
                                <h2 class="mt-1 mb-5 pb-1">QuizMe!</h2>
                            </div>
                            <form method="post" th:action="@{/signup}">
                                <p>Please register to begin your journey</p>
                                <p class="text-danger mt-2" th:if="${errorMessage}" th:text="${errorMessage}"></p>
                                <div class="form-outline mb-4">
                                    <input class="form-control" id="username" name="username" placeholder="Username"
                                           required
                                           type="text">
                                </div>
                                <div class="form-outline mb-4 position-relative">
                                    <input class="form-control" id="password" name="password" placeholder="Password"
                                           required
                                           type="password"/>
                                    <button class="toggle-password-btn border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y"
                                            onclick="togglePassword()" style="right: 10px;" type="button">
                                        <i class="bi bi-eye" id="toggle-password-icon"></i>
                                    </button>
                                </div>
                                <div class="d-grid text-center pt-1 mb-5 pb-1">
                                    <button class="btn text-white gradient-custom-1" type="submit">Register</button>
                                </div>
                                <div class="d-flex flex-row align-items-center justify-content-center pb-4">
                                    <p class="small fw-bold mt-5 mb-0 me-2">Already have an account ?
                                        <a class="link-danger text-decoration-none" th:href="@{/login}">Login</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-1">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">Our Quiz Web App is unique</h4>
                            <p class="small mb-0">It is a dynamic and interactive platform designed to provide a fun and
                                engaging way to test your knowledge across
                                a broad range of topics. Whether you are a trivia enthusiast, a student looking for an
                                interesting way to study,
                                or simply someone looking for a casual brain-teaser, our Quiz Web App has got you
                                covered.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of .container-->
<footer class="bg-dark mt-auto p-4 text-white text-center">
    <p>&copy;2023 QuizMe!</p>
</footer>
<script>
    function togglePassword() {
        const passwordField = document.getElementById("password");
        const togglePasswordIcon = document.getElementById("toggle-password-icon");

        if (passwordField.type === "password") {
            passwordField.type = "text";
            togglePasswordIcon.className = "bi bi-eye-slash";
        } else {
            passwordField.type = "password";
            togglePasswordIcon.className = "bi bi-eye";
        }
    }
</script>
<script crossorigin="anonymous"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
